.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.app-container {
  width: 900px;
  max-width: 80%;
  padding: 50px 50px;
  text-align: center;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 6rem;
  background: linear-gradient(to right, orange, black, orange, black, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1em; 
}

/*
.spotlight__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #dfe1e5;
  width: 90%;
  padding: 1em;
  background-color: #fff;
}
*/
.spotlight__input {
  height: 60px;
  width: 150%; /* Adjust as needed, but it should be 100% or less */
  border: 10;
  border-radius: 12px;
  outline: none;
  font-size: 1.2rem;
  color: #000;
  background-position: left 10px center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 3.5%;
  padding: 0 50px; /* Equal padding on left and right */
  margin: auto; /* This will center the element */
  margin-left: -34%;
}



.spotlight__answer {
  width: 100%;
  min-height: 115px;
  line-height: 1.7rem;
  letter-spacing: 0.2px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
